{% extends 'main/base.html' %}
{% block title %} SupplyMe {{product.name}} {% endblock title%}
{% block content %}
{% load static %}

    {% if supplier %}
    {% else%}
    <div class="category-navigation">
      <div class="">Категории</div>
      <img class="arrow-img" src={% static "img/Caret-Right.svg"%} alt="arrow" />
      {% if product %}
      <div class="sub-category">{{product.category.sub_category.name}}</div>
      <img class="arrow-img" src={% static "img/Caret-Right.svg"%} alt="arrow" />
      <div class="sub-category">{{product.category}}</div>
      {% endif %}
    </div>
    {% endif %}
    <div class="container-profile">
        <div class="product-profile-name">
          {{product.name}}
        </div>
        <div class="product-info">
          <div class="product-image-slider">
            <img
              class="product-profile-image"
              src="{{product.poster.url}}"
              alt="product-image"
            />
          </div>
          <div class="product-description">
            <div>Описание</div>
            <div class="description-text">
             {{product.description}}
            </div>
            <div>Поставщик</div>
            <div class="profile-supplier-name">{{product.supplier.title}}</div>
            <div>Контактная информация</div>
            <div class="supplier-contacts">
              Телефон:&nbsp;
              <a class="supplier-contact-item" href="#"> {{product.supplier.phone_number}} </a>,
              email:&nbsp;
              <a class="supplier-contact-item" href="#">
                {{product.supplier.user.email}}
              </a>
            </div>
            <div class="price-and-quantity">{{product.price}} тенге/шт., от 20шт.</div>
            <div class="cart-and-favorites">
              <form action="{% url 'add_product' %}" method="POST">
                {% csrf_token %}
              <input type="hidden" value="{{user.customer.cart.id}}" name="cart" />
              <input type="hidden" value="{{product.id}}" name="product" />
              <input type="number" name="quantity" min="20" required />
              <input type="hidden" value="{{product.price}}" name="price" />
              <div class="btn">
                <button class="button-cart" type="submit"> Добавить в корзину </button>
                {% comment %} <a class="button-cart"  href="#">Добавить в корзину</a> {% endcomment %}
              </div>
            </form>
            {% if message %}
              <h2>{{message}}</h2>
              {% endif %}
              <img class="favorite-img" src="img/ph_heart.svg" alt="" />
            </div>
          </div>
          <div class="detail-info"></div>
        </div>
      </div>

{% endblock content%}