
<footer>
    <div class="container">
      <div class="footer-columns">
        <div class="footer-rows">
          <div class="footer-column-item">
            <div class="footer-label">Покупателям</div>
            <div class="footer-links">
              <a class="footer-links" href="#"> Поддержка </a>
            </div>
            <div class="footer-links">
              <a class="footer-links" href="#"> Часто задаваемые вопросы </a>
            </div>
          </div>
          <div class="footer-column-item">
            <div class="footer-label">Партнерам</div>
            <div class="footer-links">
              <a class="footer-links" href="#"> Продавайте на SupplyMe </a>
            </div>
            <div class="footer-links">
              <a class="footer-links" href="#"> Блог для продовца </a>
            </div>
          </div>
          <div class="footer-column-item">
            <div class="footer-label">О компании</div>
            <div class="footer-links">
              <a class="footer-links" href="#"> Пресс центр </a>
            </div>
            <div class="footer-links">
              <a class="footer-links" href="#"> Вакансии </a>
            </div>
            <div class="footer-links">
              <a class="footer-links" href="#"> Блог о компании </a>
            </div>
          </div>
          <div class="footer-column-item">
            <div class="footer-label">Мы в соц сетях</div>
            <div class="footer-links">
              <a class="footer-links" href="#"> YouTube </a>
            </div>
            <div class="footer-links">
              <a class="footer-links" href="#"> Instagram </a>
            </div>
            <div class="footer-links">
              <a class="footer-links" href="#"> Telegram </a>
            </div>
            <div class="footer-links">
              <a class="footer-links" href="#"> TikTok </a>
            </div>
            <div class="footer-links">
              <a class="footer-links" href="#"> LinkedIn </a>
            </div>
          </div>
        </div>
        <div class="footer-rows-second">
          <div class="footer-column-item">
            <div class="footer-links">
              <a class="footer-links-small" href="#">
                Политика конфиденциальности
              </a>
            </div>
          </div>
          <div class="footer-column-item">
            <div class="footer-links">
              <a class="footer-links-small" href="#"> Карта сайта </a>
            </div>
          </div>
          <div class="footer-column-item">
            <div class="footer-links">
              <a class="footer-links-small" href="#">
                Пользовательские соглашения
              </a>
            </div>
          </div>
          <div class="footer-column-item-copyright">
            <div class="footer-links">
              <a class="footer-links-small" href="#">
                2022-2023 ©️ SupplyMe Kazakhstan
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>